In [ ]:
tup1 = (2,5,8,1,7)
tup2=tup1[0:2] +tup1[3:5]
tup2

(2, 5, 1, 7)

In [ ]:
tup1 = (2,5,8,1,7) # slicing stop=n-1
pos = int(input('Enter the Position:'))
# tup2= tup1[pos-1]+tup1[pos-1::]
# print(tup2)
tup2=tup1[:pos-1] +tup1[pos:]
print(tup2)

Enter the Position:2
(2, 8, 1, 7)

- Sets
1. Set is an unordered collection of heterogenous data type values.
2. Set doesn't support Indexing and Slicing.
3. Set is Mutable in Nature. But we can't modify the element and we can add new element or remove exisitng element. (changable that's why mutable)
4. Set doesn't allow duplicate element.
5. Set element enclosed in {} and seperated by ' , '

In [ ]:
# set
# in python True and 0 are same thing
set1 = {'name', 234, 37.5, None, False, 'abc',0, True,1}
set1
# set's are not subscriptable

{234, 37.5, False, None, True, 'abc', 'name'}

In [ ]:
# add - add single element anywhere in set
set1={'abc',3,7,True}
set1.add(0)
set1

{0, 3, 7, True, 'abc'}

In [ ]:
# update - add multiple element any where in set
set1 = {'abc',3,7,True}
set1.update([0,90,12])
set1

{0, 12, 3, 7, 90, True, 'abc'}

In [ ]:
# remove
set1 = {'abc',3,7,True}
set1.remove(3)
set1

{7, True, 'abc'}

In [ ]:
# discard
set1 = {'abc',3,7,True}
set1.discard(5)
set1

{3, 7, True, 'abc'}

In [ ]:
'''
Use remove() when you are certain the element exists in the set and want an error to be raised if it's absent.
Use discard() when you are unsure if the element exists in the set and want to avoid an error if it's not present.
'''

" \nUse remove() when you are certain the element exists in the set and want an error to be raised if it's absent.\nUse discard() when you are unsure if the element exists in the set and want to avoid an error if it's not present.\n"

- Dictionary
1. Dictionary is an ordered collection of Key Value pair structure.
2. Dictionary doesn't allow indexing and slicing. But here key is used as indexing
3. Dictionary is Mutable in nature
4. Dicitonary doesn't allow duplicate keys
5. Dictionary is enclosed in {} and in Key Value pair

In [ ]:
marks = {'name':'Bang','Roll.No':21}
marks['name']

'Bang'

In [ ]:
type(marks)

dict

In [ ]:
marks = {'name':['Bang','Bomb'],'Roll.No':21}
marks['name'][0]

'Bang'

In [ ]:
report = {"name":"Bang","RollNo":"50"}
report.update({'RollNo':"51"})
report["RollNo"]

'51'

In [ ]:
report = {"name":"Bang","RollNo":"50"}
report.popitem()
report

{'name': 'Bang'}

In [ ]:
text = 'worldd'
text_length = {}
for i in text:
  if i in text_length:
    text_length[i]+=1
  else:
    text_length[i] =1
print(text_length)

{'w': 1, 'o': 1, 'r': 1, 'l': 1, 'd': 2}

In [ ]:
for i in 'Hello':
  print(i)

H
e
l
l
o

In [ ]:
for i in range(4):
  for j in range(i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(4):
  for j in range(i+1):
    print(' ',end=' ')
  print("*")

  *
    *
      *
        *

In [ ]:
for i in range(4):
  for j in range(1,i+1):
    print(i,end=' ')
  print()

1
2 2
3 3 3

In [ ]:
for i in range(4):
  for j in range(4):
    print(i,end=' ')
  print()

0 0 0 0
1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
for i in range(1,8):
  for j in range (i,8):
    print(j,end='')
  print(' ')

1234567
234567
34567
4567
567
67
7

In [ ]:
lst = [22,55,6,8,13,11,90,22,91,64,28]
# create different list for even and odd with above list
lst1=[]
lst2=[]
for i in lst:
  if i%2==0:
    lst1.append(i)
  else:
    lst2.append(i)
print(lst1)
print(lst2)

[22, 6, 8, 90, 22, 64, 28]
[55, 13, 11, 91]

In [ ]:
fees = ['30$','40$','30$','20']
int_lst=[]
int_lst1=[]
for i in fees:
  i=i.replace('$','')
  int_lst.append(i)
print(int_lst)
for i in int_lst:
  new = int(i)
  int_lst1.append(new)
add= sum(int_lst1)
print(add)

# calculate the sum of fees

['30', '40', '30', '20']
120

In [ ]:
fees = ['30','40','50',]
lst=[]
for i in fees:
  new=int(i)
  lst.append(new)


add = sum(lst)
print(add)

120